<% provide(:title, "Log in") %>

<div class="row border-between">
  <div class="col-md-7 col-xs-7">
    <h1>Log in</h1>
    <%= form_for(:session, url: login_path) do |f| %>
      
      <%= f.label :email %><br>
      <%= f.text_field :email %><br>
      
      <%= f.label :password %><br>
      <%= f.password_field :password %>

      
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    
    
  </div>
  <div class="col-md-4 col-xs-4">
    <h3 class="credentials-header">Don't Have an Account?</h4>
    <div class="sign-redirect">
      <%= link_to "Sign up Now!", signup_path, class: "btn btn-success" %>
    </div>
  </div>
</div>
